body{
	background:#f1f1f1;
	margin:0;
	font-family:"Robot", sans-serif;
	font-size:15px;
	line-height:1.5;
	
}


/*  @media screen (min-width:800px){
		#profile ,#description ,.de{
		width:100%;
		
		}
}  */
#bodycon{
	background:#f1f1f1;
	max-width:1400px;
	margin-top:16px;
	border:1px solid;
	padding:0px;
	float:left;
	width:100%;
}
#grid{
	padding:0px 32px;
	background:white;
	margin:0;
	
}
#profile{
	margin-top:16px;
	border:1px solid;
	color:gray;
	padding:0 32px;
	float:left;
	width:30%;
	border:1px solid;
	border-radius:10%;
	background:white;
	font-size:15px;
	box-sizing:border-box;

	
}
#textname{
	color:black;
}
img{
	max-width:100%;
	height:auto;
	
}
a{
	padding:8px 16px;
	text-decoration:none;
}
a:hover{
	background-color:yellow;
	border-radius:50%;
}
#description{
	margin-top:16px;
	float:right;
	padding:0px 32px;
	width:70%;
	border:1px solid;
	border-radius:20px;
	background:white;
	text-align:left;
	box-sizing:border-box;
	color:gray;
}
.desc{
	color:black;
}
.de{
	margin-bottom:16px;
	margin-top:16px;
	float:right;
	padding:0px 32px;
	width:70%;
	border:1px solid;
	border-radius:20px;
	background:white;
	box-sizing:border-box;
	color:gray;
	text-align:left;
}

#leftmen{
	float:right;
	margin:0;
	font-family:"Robot", sans-serif;
	font-size:15px;
	line-height:1.5;
}

/* slide show */
.slide{
	max-width:500px;
	position:relative;
	margin:auto;
	
}
.numbertext{
	font-size:12px;
	position:absolute;
	top:0;
}
.text{
	position:absolute;
	bottom:8px;
	text-align:center;
	font-size:30px;
	width:100%;
	color:blue;
	font-weight:bold;
}

.dot{
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active {
  background-color: orange;
  border-radius:50%
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* Footer */
#footer{
	text-align:center;
	box-sizing:border-box;
	
}
.foot{
	
}
/* icons */
i{
	width:1em;
	text-align:center;
	margin-right:16px;
	
}

/* Skills */
.skill{
	text-align:center;
	border-radius:16px;
	border:1px solid;
	background-color:#006666;
}
.p{
	text-align:center;
	float:left;
	border:1px solid;
	box-sizing:border-box;
	border-radius:16px;
	padding:0 8px;
}

#progress{
	text-align:center;
	border-radius:16px;
	border:1px solid;
	background-color:yellow;
	width:78%;
}
#progressj{
	text-align:center;
	border-radius:16px;
	border:1px solid;
	background-color:yellow;
	width:60%;
}
#progressc{
	text-align:center;
	border-radius:16px;
	border:1px solid;
	background-color:yellow;
	width:68%;
}
#progressv{
	text-align:center;
	border-radius:16px;
	border:1px solid;
	background-color:yellow;
	width:78%;
}
#filipino{
	text-align:center;
	border-radius:16px;
	border:1px solid;
	background-color:yellow;
	width:100%;
}
#english{
	text-align:center;
	border-radius:16px;
	border:1px solid;
	background-color:yellow;
	width:90%;
}

@media screen and (max-width: 785px) {
    #profile,#description,.de {
        width: 100%;
    }
	.p{
		float:none;
	}
}
